.question-area {
    border: #d3d3d3 solid 1px;
    border-radius: 1rem;
    margin: 1rem;
    background: #fff;
    padding: 1rem 3rem 3rem 3rem;
}

.section,
.section-desc{
    min-height: 150px;
    width: 100%;
    background-color: #eaeaea;
    border: #d3d3d3 solid 1px;
    border-radius: .6rem;
    /*padding: 1rem 3rem 3rem 3rem;*/
    margin-top: 16px;
}

.section-header{
    width: 100%;
    border-radius: .3rem;
    background-color: #5cb85c;
    color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
}

.section-header > h3{
    margin-left: 1rem;
}

.element-section {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    background: #ffffff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.section-control-area {
    position: sticky;
    top: 24px;
}

.section-control {
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-control>a {
    padding: .5rem 1rem !important;
}

.section-hr {
    transform:rotate(90deg);
    margin: 1rem;
}

.btn-active-section{
    background-color: #5cb85c;
}

@media only screen and (max-width:768px) {
    .footer-question-area{
        position: fixed;
        width: 80%;
        height: 55px;
        background: rgba(92, 184, 92, 1);
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: .8rem .8rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        z-index: 10;
    }

}
@media only screen and (min-width:769px) {
    .footer-question-area{
        position: fixed;
        width: 50%;
        height: 55px;
        background: rgba(92, 184, 92, 1);
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: .8rem .8rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        z-index: 10;
    }

}

.border-primary{
    border-width: .2rem;
}