.fill-screen {
    margin-right: 125px !important;
}

.header-fill-screen {
    margin-right: 100px;
}

main {
    margin-right: 125px;
}

.header {
    margin-right: 125px;
}

.question-type-section {
    transition: all 0.3s ease;
    position: fixed;
    right: -300px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    border: #d4d4d4 solid 1px;
    z-index: 1000;
}

.question-type-section span,
.question-type-section button,
.question-type-section h3 {
    transition: all 0.3s ease;
    display: none;
}

.active-question-type-section {
    right: 0 !important;
}

.active-question-type-section span,
.active-question-type-section button,
.active-question-type-section h3 {
    display: block;
}

.question-type-section h3,
.question-type-bar-title i {
    margin: 2rem 2rem;
}

.question-type {
    margin: .5rem;
    /* border: #d4d4d4 solid 1px; */
    border-radius: .75rem;
    padding: 0.1rem 1rem;
    display: flex;
    align-items: center;
}

.question-type>i {
    font-size: 1.5rem;
    margin-right: 1rem;
    border: #d4d4d4 solid 1px;
    border-radius: .75rem;
    padding: 1rem;
}

.question-type:hover,
question-type:active {
    transition: all 0.2s ease;
    background-color: #5cb85c;
    color: #ffffff;
}

.show-question-panel-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 13;
    background-color: #fff;
}

.custom-tooltip {
    display: none;
    position: absolute;
    left: -100px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .4rem;
    width: 100px;
    text-align: center;
}

.question-area {
    border: #d3d3d3 solid 1px;
    border-radius: 1rem;
    margin: 1rem;
    background: #fff;
    padding: 1rem 3rem 3rem 3rem;
}

.section,
.section-desc{
    min-height: 150px;
    width: 100%;
    background-color: #eaeaea;
    border: #d3d3d3 solid 1px;
    border-radius: .6rem;
    /*padding: 1rem 3rem 3rem 3rem;*/
    margin-top: 16px;
}

.section-header{
    width: 100%;
    border-radius: .3rem;
    background-color: #5cb85c;
    color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
}

.section-header > h3{
    margin-left: 1rem;
}

.element-section {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    background: #ffffff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.section-control-area {
    position: sticky;
    top: 24px;
}

.section-control {
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-control>a {
    padding: .5rem 1rem !important;
}

.section-hr {
    transform:rotate(90deg);
    margin: 1rem;
}

.btn-active-section{
    background-color: #5cb85c;
}

.footer-question-area{
    position: fixed;
    width: 25%;
    height: 55px;
    background: rgba(92, 184, 92, 1);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: .8rem .8rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.border-primary{
    border-width: .2rem;
}