body {
    background: #f4f6f9;
    height: 100%;
    width: 100%;
}

.active-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 300px !important;
}

.side-bar {
    z-index: 10;
    position: fixed;
    height: 100%;
    background: #ffffff;
    width: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-y: scroll;
}

.logo-container {
    width: 100%;
    max-height: 100px;
}

.logo-container>img {
    padding: 25px;
}

.menu-container {}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10%;
}

.menu-list>li {
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding-left: 10%;
    align-items: center;
    font-size: 1rem;
    display: inline-flexbox;
}

.menu-list>li:hover {
    border-left: #66bb6a 5px solid;
}

.menu-list>li>i {
    margin-right: 12px;
    font-size: 1.2rem;
}

.menu-list a {
    color: #231f20;

}

.menu-list .active,
.menu-list .active>a {
    color: #66bb6a !important;
}

.menu-list .active {
    border-left: #66bb6a 5px solid;
}

.active i {
    margin-left: -5px;
}

.menu-bar {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.drop {
    list-style-type: none;
    padding: 0 1.2rem;
    display: none;
}

.drop-item {
    padding: 0.5rem 0;
}

.drop-item:hover {
    color: #5cb85c;
}

.drop-item>a:hover {
    color: #5cb85c;
}

.btn {
    margin-right: 4px;
    margin-left: 4px;
}

#toggleMenu {
    padding: 5px 10px !important;
}

.nav-logo {
    width: 230px;
    white-space: unset;
    font-size: small;
    font-weight: bold;
    color: red !important;
}

.hide-text{
    display: none;
    transition: 1s;
}

.lbl {
    /* padding: 8px; */
    padding: 0 4px 0 4px;
}

.line-unset {
    line-height: unset !important;
}

.menu-toggle-button {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    z-index: 11;
}

main {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 300px;
}

.fill-screen {
    margin-left: 125px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.header {
    margin-left: 350px;
    height: 100px;
}

.notify-button>span {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 2rem;
    padding: 0 .4rem;
    right: 1.5rem;
    top: .7rem;
}

.notification-box {
    display: none;
    position: absolute;
    width: 300px;
    background: rgba(255, 255, 255, 1);
    border: rgb(187, 187, 187) 1px solid;
    border-radius: .8rem;
    right: 1rem;
    z-index: 11;
}

.notification-box ul {
    list-style-type: none;
    padding-left: 5px;
}

.notification-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 24px;
}

.notify {
    margin: 24px;
}


/* .notify> a::after {
    content: '';
    position: absolute;
    width: 80%;
    margin: 10px 10%;
    height: 1px;
    left: 0;
    display: block;
    clear: both;
    background:rgb(212, 212, 212);
} */

.show {
    display: block !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.bold {
    font-weight: bold;
}

.menu-group-title{
    width: 100%;
    background-color: #e2e3e4;
    padding: 0.3rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7rem;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

::-webkit-scrollbar-thumb:active {
    background: #525965;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

